$highlight30: rgba($color-blanc, .3);
$gray90: lighten($color-noir, 90%);

header {
  z-index: 1000;
  padding: 0 16px;
  color: $color-contrast;
  background: $color-primary;
  box-shadow: inset 0 -4px 0 rgba($color-noir, 0.2);
  transition: all 0.3s;
  a {
    color: $color-contrast;
    &:hover {
      color: $color-contrast;
    }
  }
  @media (min-width: $header-md) {
    position: fixed;
    width: 100%;
    height: 80px;
  }
}

.header-inside {
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
  @media (min-width: $header-md) {
    max-height: 80px;
    padding: 0 16px;
  }
}

.main-logo {
  display: block;
  float: left;
  padding: 12px 16px;
  margin-right: 16px;
  transition: all 0.3s;
  @media (min-width: $header-sm) {
    padding: 15px 16px;
  }

  &:hover {
    background: $color-primary-shade;
  }

  span {
    display: block;
    width: 34px;
    height: 34px;
    transition: all 0.3s;
    @media (min-width: $header-sm) {
      width: 50px;
      height: 50px;
    }
    @media (min-width: $header-md) {
      width: 50px;
      height: 50px;
    }
  }
}

.header-functions {
  float: right;
  margin: 0;

  .nav-item-block {
    float: right;
    margin: 0;
    list-style-type: none;
    @media (min-width: $header-md) {
      display: inline-block;
      float: left;

      &.nav-toggle {
        display: none;
      }
    }

    .sub-nav {
      position: absolute;
    }

    .fa {
      display: block;
      margin: 0 auto;
      transition: all 0.3s;
      @media (min-width: $header-sm) {
        display: inline-block;
        margin: 0 4px 0 0;
      }
    }
  }
}

.nav-toggle.active .fa-bars {
  transform: rotate(180deg) translate(0, -1px);

  &::before {
    display: inline-block;
    content: '\f00d';
    transform: translate(0, -1px) scale(1.1);
  }
}

.main-nav {
  float: left;
  width: 100%;
  //max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s;
  @media (min-width: $header-md) {
    width: auto;
    max-height: 1000px;
  }

  .nav-item-block {
    @media (min-width: $header-md) {
      float: left;
    }
  }

  .nav-item::after {
    position: absolute;
    left: 50%;
    @media (min-width: $header-md) {
      position: inherit;
      left: inherit;
    }
  }
}

.nav-item {
  display: block;
  max-height: 80px;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background: $color-primary;
  transition: all 0.3s;
  @media (min-width: $header-md) {
    display: inline-block;
    padding: 24px 16px;
    font-size: 24px;
    line-height: 32px;
  }

  span {
    display: none;
    @media (min-width: $header-sm) {
      display: inline-block;
    }
  }

  &:hover {
    background: $color-primary-shade;

  }

  &::after {
    display: block;
    width: 0;
    margin: 0 auto;
    border-right: 16px solid transparent;
    border-bottom: 0 solid $gray90;
    border-left: 16px solid transparent;
    content: ' ';
    transform: translate(0, 34px);
    transition: all 0.3s;
  }

  &.active {
    background: $highlight30;

    &::after {
      border-bottom: 16px solid $gray90;
      transform: translate(0, 4px);
      @media (min-width: $header-sm) {
        transform: translate(0, 14px);
      }
    }
  }
}

.nav-toggle::after {
  content: none;
}

.sub-nav {
  top: 58px;
  left: 0;
  width: 100%;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background: $color-primary-tint;
  box-shadow: 0 4px 0 $base-shadow;
  transition: all 0.3s;
  @media (min-width: $header-sm) {
    top: 80px;
    left: 0;
    padding: 0 16px;
  }
  @media (min-width: $header-md) {
    position: absolute;
    top: 80px;
    left: 0;
    padding: 0 16px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    @media (min-width: 640px) {
      padding: 12px 0 12px 16px;
      margin: 0 auto;
    }
  }

  form {
    width: auto;
    max-width: 858px;
    padding: 0 0 0 16px;
    margin: 0 auto;
    @media (min-width: 640px) {
      padding: 0;
    }

    input {
      max-width: 360px;
      border: 0;
    }
  }
}

.sub-nav-item {
  display: block;
  flex-grow: 1;
  padding: 12px 16px 12px 74px;
  font-size: 14px;
  line-height: 18px;
  //opacity: 0;
  transition: all 0.3s;

  &:hover {
    background: $color-primary-shade;

  }
  @media (min-width: 640px) {
    width: 47%;
    width: calc(50% - 16px);
    margin-right: 16px;
    margin-bottom: 12px;
  }
  @media (min-width: $header-lg) {
    width: calc(100% / 3 - 16px);
  }
}

.sub-nav-item-icon {
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  margin-left: -58px;
  background: $color-contrast;
  border-radius: 50%;
}

.sub-nav-item-title {
  display: block;
  font-weight: 700;
}

.sub-nav-item-description {
  display: block;
}

.site-search {
  input {
    float: left;
    width: calc(100% - 64px);
  }

  button {
    width: 48px;
  }
}

.inputfield.login-field {
  width: 100%;
  margin: 0 auto 8px;
  @media (min-width: $header-md) {
    float: left;
    width: calc(50% - 76px);
    margin: 0 10px 8px 0;
  }
}

.sign-in {
  width: 100%;
  max-width: 360px;
  margin: 0 auto 8px;
  @media (min-width: $header-md) {
    width: 115px;
    margin: 0 0 8px;
  }
}

.menu-height-holder {
  display: none;
  transition: all 0.3s;
  @media (min-width: $header-md) {
    display: block;
  }
}

.logo-placeholder {
  background: $color-contrast;
  border-radius: 50%;
}
